{% extends 'layout.html' %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Karat</th>
                <th class="text-end">Weight</th>
                <th class="text-end">Price</th>
                <th class="text-end">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td class="text-start">{{ transaction.karat }}</td>
                    <td class="text-end">{{ transaction.weight }}</td>
                    <td class="text-end">{{ transaction.total }}</td>
                    <td class="text-end">{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
